In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://larsm:admin@localhost:5432/parlamint')

In [17]:
from pandas import read_sql_query, concat, DataFrame, read_sql, Series
from sqlalchemy import create_engine
import re
import pandas as pd

def presidentbytte(string):
    p = r"(.+) hadde her .*"
    m = re.match(p, string)
    if m:       
        return m.group(1)
    else:
        return string


def clean_text(s : Series) -> Series:
    s = s.apply(presidentbytte)
         
    s = (s.replace(r"[Ss]t?atsminister", '', regex=True)
        .replace(r"[Ss]tat?st?råd", '', regex=True)
        #.replace(r"Utenriksminister", '', regex=True)
        .replace(r"[Ss]tortingspresident", '', regex=True)
        .replace(r"[Pp]resident(?:en)? ?") 
        .replace(r"(?:[Ff]ørste|[Aa]ndre|[Tt]redje|[Ff]jerde|[Ff]emte) visepresident", '', regex=True)
        .replace(r"[Ss]tortingets (?:andre )?visepresident", '', regex=True)
        .replace(r"[Rr]epresentant(?:en)? ?", "", regex=True)
        .replace(r"[Uu]tenriksminister(?:en)? ?", "", regex=True)
        .replace(r"\(.+\)", '', regex=True)
        .replace(r"[\d\[\]\(\)«»]", '', regex=True)
        .replace(r"^e[rn] ", '', regex=True)
        .replace(r" [Sp]$", '', regex=True)
        .replace(r" [MS\.]$", '', regex=True)
        .replace(r"Votering", '', regex=True)
        .replace(r"-", "", regex=True)
        )
    return s
    

def clean_whitespace(s):
    s = (s.replace(r"\s+", " ", regex=True)
        .str.strip()
        .loc[s != ""]
    )
    return s

def clean_names(df):
    df['clean'] = (df['name'].pipe(clean_text)
                        .pipe(clean_whitespace)
                        .str.lower()
                            )
    
def first_last(s) -> pd.Series:
    p = r"(\S+)\.? (?:\S+ )*(\S+)"
    
    tmp = s.str.replace(r'-', ' ', regex=True).str.lower()
    tmp = tmp.str.extract(p)
    tmp = tmp[0] + tmp[1]
    return tmp

In [18]:
q = '''SELECT DISTINCT name FROM from_corpus WHERE id='' '''

df = pd.read_sql_query(q, engine)

In [19]:
name_id = pd.read_sql('name_id_pairs', engine)

In [20]:
# Name_id.set_index('name', inplace=True)

In [21]:
df['clean'] = (df.name.str.lower()
        .pipe(clean_whitespace)
        .pipe(clean_text)
        .pipe(first_last))

In [22]:
name_id['clean'] = (name_id.reset_index().name
                                        .str.lower()
                                        .pipe(clean_whitespace)
                                        .pipe(clean_text)
                                        .pipe(first_last))

In [23]:
name_id

                                  name    id             clean
0            Ragnhild Queseth Haarstad   RQH  ragnhildhaarstad
1                      Guro Fjellanger   GFJ    gurofjellanger
2                 Dag Jostein Fjærvoll   DJF       dagfjærvoll
3                        Marit Arnstad   MAA      maritarnstad
4               Hilde Frafjord Johnson   HFJ      hildejohnson
...                                ...   ...               ...
8102  Hilde Frafjord Johnson (KrF) Noe   HFJ      hildejohnson
8103           Statsråd Torhild Widvey   TWI     torhildwidvey
8104               Jorun Ringstad (Sp)    JR     jorunringstad
8105   Statsråd Hilde Frafjord Johnsen   HFJ      hildejohnsen
8106           Statsråd Kristen Clemet  KRCL     kristenclemet

[8107 rows x 3 columns]

In [24]:
merged =  (df.merge(name_id, left_on='clean', right_on='clean', how='left'))

In [25]:
df

                                name              clean
0       Statsråd Lisbeth Berg-Hansen  lisbethberghansen
1        Heikki Eidsvoll Holmås (SV)       heikkiholmås
2                 Siri A. Meling (H)         sirimeling
3                Vidar Bjørnstad (A)     vidarbjørnstad
4                    Akthtar Chaudry     akthtarchaudry
...                              ...                ...
1326  Statsråd Hanne Inger Bjurstrøm     hannebjurstrøm
1327          Kristian Norheim (FrP)    kristiannorheim
1328              Sigurd Grytten (A)      sigurdgrytten
1329      Statsråd Elisabeth Aspaker   elisabethaspaker
1330        Statsråd Odd Einar Dørum           odddørum

[1331 rows x 2 columns]

In [26]:
# merged.reset_index().dropna().drop_duplicates().loc[: ,['name_x', 'id']].rename({'name_x' : 'name'}, axis=1).to_csv('automatic_aliases.csv')

In [13]:
merged[merged.id.isna()].loc[:, ['name_x']]

                                     name_x
251      Utenriksminister Thorbjørn Jagland
401         Utenriksministeren Jan Petersen
404   Utenriksminister  Jonas  Gahr  Støre
539       Utenriksminister Espen Barth Eide
752                     Forslag nr. 4 lyder
2015      Utenriksminister Jonas Gahr Støre
2360         Utenriksminister Knut Vollebæk
2374                     Nikolai Astrup (H)
2839          Utenriksminister Børge Brende
3661          Utenriksminister Jan Petersen