In [85]:
import pandas as pd
from sqlalchemy import create_engine

In [86]:
engine = create_engine('postgresql://larsm:admin@localhost:5432/parlamint')

In [87]:
q = '''SELECT DISTINCT name FROM from_corpus WHERE id='' '''

df = pd.read_sql_query(q, engine)

In [88]:
name_id = pd.read_sql('name_id_pairs', engine)

In [89]:
name_id.set_index('name', inplace=True)

In [90]:
m = df.join(name_id, on='name')

In [91]:
m

                              name    id
0     Statsråd Lisbeth Berg-Hansen   LIB
0     Statsråd Lisbeth Berg-Hansen   LIB
0     Statsråd Lisbeth Berg-Hansen   LIB
0     Statsråd Lisbeth Berg-Hansen   LIB
0     Statsråd Lisbeth Berg-Hansen   LIB
...                            ...   ...
1330      Statsråd Odd Einar Dørum  ODDØ
1330      Statsråd Odd Einar Dørum  ODDØ
1330      Statsråd Odd Einar Dørum  ODDØ
1330      Statsråd Odd Einar Dørum  ODDØ
1330      Statsråd Odd Einar Dørum  ODDØ

[15123 rows x 2 columns]

In [92]:
t = (m[m.id.isna()])
t

                     name   id
35            presidenten  NaN
83                   (SV)  NaN
84            Presidenten  NaN
106       Representantene  NaN
122                 (Frp)  NaN
147                   (H)  NaN
269   Forslag nr. 4 lyder  NaN
359                 Flere  NaN
394             President  NaN
447                  (Sp)  NaN
503          Presidentent  NaN
915                     «  NaN
1028             Votering  NaN
1240                       NaN

In [93]:
t.iloc[-4].values[0]

'Presidentent'