# Speakers from corpus

This notebook analyses u tags from parlamint

Looks at all speakers from corpus

In [32]:
import glob
from bs4 import BeautifulSoup as bs
import pandas as pd

import lxml.etree as et

from tqdm import tqdm

In [33]:
files = glob.glob("../output/*")

In [34]:
dct = dict()

for file in tqdm(files):
    xml = et.parse(file)
    
    for u in xml.findall("//{http://www.tei-c.org/ns/1.0}u"):
        dct.update(
            { 
             u.attrib['{http://www.w3.org/XML/1998/namespace}id'] :
                {
                    'name' : u.attrib['name'], 
                    "who" : u.attrib['who']
                }
            }
        )

100%|██████████| 3285/3285 [00:08<00:00, 377.15it/s]

In [35]:
df = pd.DataFrame.from_dict(dct, orient='index')

df

                                                                name   who
ParlaMint-NO_2000-01_010123.ud1e23                  Hans J. Røsjorde   HJR
ParlaMint-NO_2000-01_010123.ud1e67           Statsråd Otto Gregussen
ParlaMint-NO_2000-01_010123.ud1e269                    Lodve Solholm  LOSO
ParlaMint-NO_2007-08_080226_lower_.ud2e39    Sigvald Oppebøen Hansen   SOH
ParlaMint-NO_2007-08_080226_lower_.ud2e48            Trond Lode (Sp)
...                                                              ...   ...
ParlaMint-NO_2010-11_110511.ud2685e1036    Statsråd Lars Peder Brekk
ParlaMint-NO_2010-11_110511.ud2685e1043       Torstein Rudihagen (A)
ParlaMint-NO_2010-11_110511.ud2685e1050    Statsråd Lars Peder Brekk
ParlaMint-NO_2010-11_110511.ud2685e1057              Akhtar Chaudhry    AC
ParlaMint-NO_2010-11_110511.ud2685e1072              Akhtar Chaudhry    AC

[403831 rows x 2 columns]

In [36]:
import re
p = r"(?:person\.)?([A-Za-zÆØÅæøå0-9]+)(?:_\d+)?"

for x in df[df.who.str.contains('\d', regex=True)].who.unique() :
    m = re.match(p, x)
    
    print(m.group(1))

ERLBE1

In [37]:
df.reset_index(drop=True).drop_duplicates().reset_index(drop=True)

                         name   who
0            Hans J. Røsjorde   HJR
1     Statsråd Otto Gregussen
2               Lodve Solholm  LOSO
3     Sigvald Oppebøen Hansen   SOH
4             Trond Lode (Sp)
...                       ...   ...
2746  Andersen Anundsen (FrP)
2747  Olav Einar Skogholt (A)
2748        Statsråd Angelsen
2749     John I. Alveim (Frp)
2750   Statsråd Henrik Asheim

[2751 rows x 2 columns]

In [38]:
df.loc[df.who == 'person']

Empty DataFrame
Columns: [name, who]
Index: []