In [2]:
import pandas as pd
import lxml.etree as et
import re
from lxml.builder import E
from glob import glob
from sqlalchemy import create_engine

engine = create_engine('postgresql://larsm:admin@localhost:5432/parlamint')

In [ ]:
import pandas as pd
import lxml.etree as et
import re
import sqlalchemy as sql
from itertools import chain
from lxml.builder import E
from glob import glob
from sqlalchemy import create_engine


def assign_gender(string):
    if string == 'kvinne':
        return 'F'
    elif string == 'mann':
        return 'M'
    else:
        # If gender is not provided        
        return 'U'
    
def is_vara(string):
    if string == 'true':
        return 'substituteMP'
    elif string == 'false':
        return 'MP'
    else:
        raise ValueError
            

def FROM(*args):
    "from is reserved in python"
    return {"from":' '.join(args)}
 
def TO(*args):
    "to is reserved in python"
    return {"to":' '.join(args)}

def split_sub(string):
    if string == 'SUBSTITUTEMP':
        return 'Substitute MP'
    else:
        return string

def mp_affiliations(id : str, engine : sql.engine) -> et.Element:
    """MP parliament period generator
    
    :param id: MP id
    :type id: string
    :yield: Affiliation
    :rtype: Iterator[et.Element]
    """
    for x in pd.read_sql_query("SELECT * FROM mps_period WHERE id=%s", engine, params=[id]).iterrows():
        #print(x[1])
        
        MP_AFFILIATION = E.affiliation
        PARTY_AFFILIATION = E.affiliation
        
        SUB = is_vara(x[1].vara_representant)
        PERIOD = x[1].periode
        PARTYID = x[1]['parti|id']
        PARTY = x[1]['parti|navn']
        FYLKEID = x[1]['fylke|id']
        FYLKE = x[1]['fylke|navn']
        
        m = re.match(r"(\d{4})-(\d{4})", PERIOD)
        FROM_YEAR = m.group(1)
        TO_YEAR = m.group(2)           
        
        mp_affiliation = MP_AFFILIATION(
            "{} from {} for {} county for the {} period".format(split_sub(SUB.upper()), PARTY, FYLKE, PERIOD),
            FROM('{}-10-01'.format(FROM_YEAR)),
            TO('{}-09-30'.format(TO_YEAR)),
            role=SUB,
            ref='#ST'            
        )   
        
        yield mp_affiliation

def party_affiliation_element(party_id : str, from_=None, to_=None) -> et.Element:
    PARTY_AFFILIATION = E.affiliation

    xml = PARTY_AFFILIATION(
        role='member',
        ref="party.{}".format(party_id.upper())
    )
    
    if from_:
        xml.attrib['from'] = "{}-10-01".format(from_)
    if to_:
        xml.attrib['to'] = "{}-09-30".format(to_)       

        
    return xml

def get_period(df : pd.DataFrame, party : str) -> tuple:
    """Extract the earliest and latest year for a given affiliation. 
    Assumes that MPs only changes party between parliamentary periods
    """    
    res = df.loc[df['parti|id'] == party, 'periode']    
    lst = []
    for period in res:
        # get years from string and append to list
        m = re.match(r"(\d{4})-(\d{4})", period)
        lst += [int(x) for x in m.group(1, 2)]  
        
    return min(lst), max(lst)

def party_affiliation(id, engine):
    """Generate party affiliation element 
    """
    df = pd.read_sql_query("""SELECT "parti|navn", "parti|id", periode FROM mps_period WHERE id=%s""", engine, params=[id])
    
    # Handle MPs that have represented more than one party
    if df['parti|id'].nunique() > 1:
        for party in df['parti|id'].unique():
                       
            from_, to_ = get_period(df, party)         
            
            yield party_affiliation_element(party, from_=from_, to_=to_)
        
        
    else:
        yield party_affiliation_element(df['parti|id'].unique()[0])
        
def generate_mp_record(record : pd.Series, engine: sql.engine) -> et.Element:
    """Make an XML record for a single MP

    :param record: SQL record of an MP
    :type record: pd.Series
    :param engine: SQLalchemy engine
    :type engine: sql.engine
    :return: XML of MP
    :rtype: et.Element
    """
    mp = E.person
    persName = E.persName
    forename = E.forename
    surname = E.surname
    sex = E.sex
    birth = E.birth
    
    mp_xml = mp( 
        persName(
            forename(record.loc['fornavn']),
            surname(record.loc['etternavn'])
        ),
        sex(value=assign_gender(record.loc['kjoenn'])),
        birth(record.loc['foedselsdato']),
        id=record.loc['id']
    )
    
    # Check for death
    if record.doedsdato:
        death_date, _ = record.doedsdato.split('T')
        DEATH = E.death
        DEATH.attrib['when'] = death_date
        
        
        
    # Append mp period affiliation    
    for x in mp_affiliations(mp_xml.attrib['id'], engine):
        mp_xml.append(x)
    
    # Append mp period
    for x in party_affiliation(mp_xml.attrib['id'], engine):
        mp_xml.append(x)
        
    return mp_xml

def main():
    engine = create_engine('postgresql://larsm:admin@localhost:5432/parlamint') 
    
    # Generate speaker xml
    df = pd.read_sql('mps', engine)
    
    xml = et.Element('root')

    for x in df.iterrows():
        xml.append(generate_mp_record(x[1], engine))
        
    xml = et.ElementTree(xml)
    
    return xml
    #xml.write('MP_speakers.xml', pretty_print=True)
        
        
# TODO:
# Add død
# Add minister posts

In [63]:
df

,doedsdato,etternavn,foedselsdato,fornavn,id,kjoenn
0,None,Aasen-Svensrud,1980-02-22T00:00:00+01:00,Maria,AASE,kvinne
1,None,Horrigmo,1982-07-11T02:00:00+02:00,Aase Marthe J.,AASMHO,kvinne
2,None,Aukrust,1985-02-28T00:00:00+01:00,Åsmund,AAUK,mann
3,None,Kroglund,1972-07-05T02:00:00+02:00,Abel Cecilie Knibe,ABCH,kvinne
4,None,Raja,1975-11-05T01:00:00+01:00,Abid,ABIR,mann
...,...,...,...,...,...,...
4348,2003-02-07T00:00:00+01:00,Natås,1953-04-23T01:00:00+02:00,Sigrun S.,SN,kvinne
4349,2001-11-06T00:00:00+01:00,Brokke,1943-12-27T00:00:00+01:00,Tore,TBR,mann
4350,2014-04-14T00:00:00+02:00,Holth,1931-02-23T00:00:00+01:00,Thorleif,THHO,mann
4351,2017-11-20T00:00:00+01:00,Knudsen,1942-03-05T23:00:00+01:00,Terje,TK,mann
4352,2016-12-02T00:00:00+01:00,Viken,1942-08-11T00:00:00+02:00,Tove Kari,TKV,kvinne

In [60]:
df.loc[1]

doedsdato                            None
etternavn                        Horrigmo
foedselsdato    1982-07-11T02:00:00+02:00
fornavn                    Aase Marthe J.
id                                 AASMHO
kjoenn                             kvinne
Name: 1, dtype: object

In [72]:
for x in df.iterrows():
    if x[1].doedsdato:
        print(x)

(1265, doedsdato       2020-04-02T00:00:00+02:00
etternavn                         Heiberg
foedselsdato    1936-04-14T03:00:00+02:00
fornavn                   Astrid Nøklebye
id                                   ASHI
kjoenn                             kvinne
Name: 1265, dtype: object)
(1266, doedsdato       2018-10-05T00:00:00+02:00
etternavn                           Odnes
foedselsdato    1963-05-25T00:00:00+02:00
fornavn                              Ivar
id                                    IOD
kjoenn                               mann
Name: 1266, dtype: object)
(1869, doedsdato       2020-04-02T00:00:00+02:00
etternavn                         Heiberg
foedselsdato    1936-04-14T03:00:00+02:00
fornavn                   Astrid Nøklebye
id                                   ASHI
kjoenn                             kvinne
Name: 1869, dtype: object)
(1871, doedsdato       2014-05-25T00:00:00+02:00
etternavn                        Midtlund
foedselsdato    1954-03-29T01:00:00+02:00
fornavn                     Frode Knutzen
id                                     FM
kjoenn                               mann
Name: 1871, dtype: object)
(1872, doedsdato       2018-10-05T00:00:00+02:00
etternavn                           Odnes
foedselsdato    1963-05-25T00:00:00+02:00
fornavn                              Ivar
id                                    IOD
kjoenn                               mann
Name: 1872, dtype: object)
(1873, doedsdato       2020-03-07T00:00:00+01:00
etternavn                      Fredriksen
foedselsdato    1956-10-02T01:00:00+02:00
fornavn                        Jan-Henrik
id                                     JF
kjoenn                               mann
Name: 1873, dtype: object)
(1874, doedsdato       2018-11-15T00:00:00+01:00
etternavn                        Steinnes
foedselsdato    1959-01-19T00:00:00+01:00
fornavn                           Sigmund
id                                   SIGS
kjoenn                               mann
Name: 1874, dtype: object)
(2478, doedsdato       2022-07-10T00:00:00+02:00
etternavn                              Mo
foedselsdato    1968-03-16T00:00:00+01:00
fornavn                        Bjørn Inge
id                                    BIM
kjoenn                               mann
Name: 2478, dtype: object)
(2479, doedsdato       2014-05-25T00:00:00+02:00
etternavn                        Midtlund
foedselsdato    1954-03-29T01:00:00+02:00
fornavn                     Frode Knutzen
id                                     FM
kjoenn                               mann
Name: 2479, dtype: object)
(2480, doedsdato       2013-12-27T00:00:00+01:00
etternavn                           Olsen
foedselsdato    1952-09-18T01:00:00+02:00
fornavn                              Gunn
id                                    GUO
kjoenn                             kvinne
Name: 2480, dtype: object)
(2481, doedsdato       2020-03-07T00:00:00+01:00
etternavn                      Fredriksen
foedselsdato    1956-10-02T01:00:00+02:00
fornavn                        Jan-Henrik
id                                     JF
kjoenn                               mann
Name: 2481, dtype: object)
(3093, doedsdato       2014-09-16T00:00:00+02:00
etternavn                       Samuelsen
foedselsdato    1942-02-27T23:00:00+01:00
fornavn                          Alf Ivar
id                                    AIS
kjoenn                               mann
Name: 3093, dtype: object)
(3094, doedsdato       2009-04-30T00:00:00+02:00
etternavn                           Lothe
foedselsdato    1952-03-31T01:00:00+02:00
fornavn                             Bjørn
id                                    BJL
kjoenn                               mann
Name: 3094, dtype: object)
(3095, doedsdato       2020-11-15T00:00:00+01:00
etternavn                         Øveraas
foedselsdato    1949-08-15T01:00:00+02:00
fornavn                       Eli Sollied
id                                    ESO
kjoenn                             kvinne
Name: 3095, dtype: object)
(3096, doedsdato       2013-12-27T00:00:00+01:00
etternavn                           Olsen
foedselsdato    1952-09-18T01:00:00+02:00
fornavn                              Gunn
id                                    GUO
kjoenn                             kvinne
Name: 3096, dtype: object)
(3097, doedsdato       2007-03-12T00:00:00+01:00
etternavn                         Nerland
foedselsdato    1966-10-27T01:00:00+02:00
fornavn                              Hege
id                                    HEN
kjoenn                             kvinne
Name: 3097, dtype: object)
(3098, doedsdato       2015-12-18T00:00:00+01:00
etternavn                    Solum-Larsen
foedselsdato    1969-01-14T00:00:00+01:00
fornavn                             Helge
id                                    HSL
kjoenn                               mann
Name: 3098, dtype: object)
(3099, doedsdato       2019-09-04T00:00:00+02:00
etternavn                        Eliassen
foedselsdato    1933-05-31T01:00:00+02:00
fornavn                              Idar
id                                    IDE
kjoenn                               mann
Name: 3099, dtype: object)
(3100, doedsdato       2013-03-24T00:00:00+01:00
etternavn                         Lønning
foedselsdato    1938-02-20T00:00:00+01:00
fornavn                              Inge
id                                    INL
kjoenn                               mann
Name: 3100, dtype: object)
(3101, doedsdato       2020-03-07T00:00:00+01:00
etternavn                      Fredriksen
foedselsdato    1956-10-02T01:00:00+02:00
fornavn                        Jan-Henrik
id                                     JF
kjoenn                               mann
Name: 3101, dtype: object)
(3102, doedsdato       2006-08-21T00:00:00+02:00
etternavn                        Lilletun
foedselsdato    1945-10-23T01:00:00+02:00
fornavn                               Jon
id                                     JL
kjoenn                               mann
Name: 3102, dtype: object)
(3103, doedsdato       2021-01-28T00:00:00+01:00
etternavn                           Aukan
foedselsdato    1948-02-24T00:00:00+01:00
fornavn                            Modulf
id                                   MODA
kjoenn                               mann
Name: 3103, dtype: object)
(3104, doedsdato       2022-01-10T00:00:00+01:00
etternavn                           Røhne
foedselsdato    1949-04-20T01:00:00+02:00
fornavn                        Nils Amund
id                                    NAR
kjoenn                               mann
Name: 3104, dtype: object)
(3105, doedsdato       2021-08-17T00:00:00+02:00
etternavn                        Akselsen
foedselsdato    1965-08-28T00:00:00+02:00
fornavn                              Olav
id                                     OA
kjoenn                               mann
Name: 3105, dtype: object)
(3106, doedsdato       2007-12-03T00:00:00+01:00
etternavn                           Løvik
foedselsdato    1949-07-11T01:00:00+02:00
fornavn                            Petter
id                                   PETL
kjoenn                               mann
Name: 3106, dtype: object)
(3107, doedsdato       2006-11-19T00:00:00+01:00
etternavn                             Lie
foedselsdato    1943-12-17T00:00:00+01:00
fornavn                          Torbjørn
id                                   TLIE
kjoenn                               mann
Name: 3107, dtype: object)
(3696, doedsdato       2019-05-30T00:00:00+02:00
etternavn                        Lyngstad
foedselsdato    1962-05-10T00:00:00+02:00
fornavn                              Arne
id                                     AL
kjoenn                               mann
Name: 3696, dtype: object)
(3697, doedsdato       2002-02-03T00:00:00+01:00
etternavn                          Lassen
foedselsdato    1948-07-24T01:00:00+02:00
fornavn                        Bjørn Aage
id                                   BJAL
kjoenn                               mann
Name: 3697, dtype: object)
(3698, doedsdato       2009-04-30T00:00:00+02:00
etternavn                           Lothe
foedselsdato    1952-03-31T01:00:00+02:00
fornavn                             Bjørn
id                                    BJL
kjoenn                               mann
Name: 3698, dtype: object)
(3699, doedsdato       2018-07-31T00:00:00+02:00
etternavn                       Stensaker
foedselsdato    1945-01-22T00:00:00+01:00
fornavn                       Christopher
id                                     CS
kjoenn                               mann
Name: 3699, dtype: object)
(3700, doedsdato       2020-11-15T00:00:00+01:00
etternavn                         Øveraas
foedselsdato    1949-08-15T01:00:00+02:00
fornavn                       Eli Sollied
id                                    ESO
kjoenn                             kvinne
Name: 3700, dtype: object)
(3701, doedsdato       2020-08-17T00:00:00+02:00
etternavn                     Borkenhagen
foedselsdato    1948-04-23T01:00:00+02:00
fornavn                               Eva
id                                    EVJ
kjoenn                             kvinne
Name: 3701, dtype: object)
(3702, doedsdato       2019-11-28T00:00:00+01:00
etternavn                          Fossum
foedselsdato    1945-11-01T00:00:00+01:00
fornavn                         Grethe G.
id                                    GGF
kjoenn                             kvinne
Name: 3702, dtype: object)
(3703, doedsdato       2006-03-06T00:00:00+01:00
etternavn                       Halvorsen
foedselsdato    1945-07-24T00:00:00+02:00
fornavn                            Gunnar
id                                    GHA
kjoenn                               mann
Name: 3703, dtype: object)
(3704, doedsdato       2013-12-27T00:00:00+01:00
etternavn                           Olsen
foedselsdato    1952-09-18T01:00:00+02:00
fornavn                              Gunn
id                                    GUO
kjoenn                             kvinne
Name: 3704, dtype: object)
(3705, doedsdato       2021-03-09T00:00:00+01:00
etternavn                      Gabrielsen
foedselsdato    1967-07-27T01:00:00+02:00
fornavn                    Hans-Christian
id                                    HCG
kjoenn                               mann
Name: 3705, dtype: object)
(3706, doedsdato       2014-07-21T00:00:00+02:00
etternavn                            Hove
foedselsdato    1949-01-10T00:00:00+01:00
fornavn                            Harald
id                                    HHO
kjoenn                               mann
Name: 3706, dtype: object)
(3707, doedsdato       2010-12-30T00:00:00+01:00
etternavn                         Hogsnes
foedselsdato    1954-10-17T01:00:00+02:00
fornavn                     Hans Kristian
id                                    HKH
kjoenn                               mann
Name: 3707, dtype: object)
(3708, doedsdato       2020-10-25T00:00:00+02:00
etternavn                         Myrvoll
foedselsdato    1948-06-21T01:00:00+02:00
fornavn                              Inge
id                                     IM
kjoenn                               mann
Name: 3708, dtype: object)
(3709, doedsdato       2013-03-24T00:00:00+01:00
etternavn                         Lønning
foedselsdato    1938-02-20T00:00:00+01:00
fornavn                              Inge
id                                    INL
kjoenn                               mann
Name: 3709, dtype: object)
(3710, doedsdato       2005-12-05T00:00:00+01:00
etternavn                         Alvheim
foedselsdato    1930-05-21T01:00:00+02:00
fornavn                           John I.
id                                    JIA
kjoenn                               mann
Name: 3710, dtype: object)
(3711, doedsdato       2017-07-24T00:00:00+02:00
etternavn                           Kosmo
foedselsdato    1947-12-05T00:00:00+01:00
fornavn                            Jørgen
id                                     JK
kjoenn                               mann
Name: 3711, dtype: object)
(3712, doedsdato       2005-07-10T00:00:00+02:00
etternavn                           Koløy
foedselsdato    1940-06-08T01:00:00+02:00
fornavn                               Jan
id                                    JKO
kjoenn                               mann
Name: 3712, dtype: object)
(3713, doedsdato       2006-08-21T00:00:00+02:00
etternavn                        Lilletun
foedselsdato    1945-10-23T01:00:00+02:00
fornavn                               Jon
id                                     JL
kjoenn                               mann
Name: 3713, dtype: object)
(3714, doedsdato       2008-06-22T00:00:00+02:00
etternavn                         Ekornes
foedselsdato    1942-01-01T23:00:00+01:00
fornavn                       Jens Petter
id                                    JPE
kjoenn                               mann
Name: 3714, dtype: object)
(3715, doedsdato       2018-09-12T00:00:00+02:00
etternavn                        Ringstad
foedselsdato    1943-09-03T00:00:00+02:00
fornavn                            Jorunn
id                                     JR
kjoenn                             kvinne
Name: 3715, dtype: object)
(3716, doedsdato       2019-08-12T00:00:00+02:00
etternavn                        Simonsen
foedselsdato    1953-03-03T00:00:00+01:00
fornavn                               Jan
id                                     JS
kjoenn                               mann
Name: 3716, dtype: object)
(3717, doedsdato       2010-01-11T00:00:00+01:00
etternavn                         Knudsen
foedselsdato    1937-12-02T00:00:00+01:00
fornavn                           Kåre G.
id                                    KGK
kjoenn                               mann
Name: 3717, dtype: object)
(3718, doedsdato       2019-10-28T00:00:00+01:00
etternavn                          Moberg
foedselsdato    1934-10-26T01:00:00+02:00
fornavn                             Kjell
id                                    KJM
kjoenn                               mann
Name: 3718, dtype: object)
(3719, doedsdato       2021-07-29T00:00:00+02:00
etternavn                       Sandegren
foedselsdato    1929-03-18T00:00:00+01:00
fornavn                             Kaare
id                                    KSA
kjoenn                               mann
Name: 3719, dtype: object)
(3720, doedsdato       2012-11-05T00:00:00+01:00
etternavn                          Bakken
foedselsdato    1938-12-15T00:00:00+01:00
fornavn                      Kurt Norvald
id                                    KUB
kjoenn                               mann
Name: 3720, dtype: object)
(3721, doedsdato       2021-09-09T00:00:00+02:00
etternavn                        Onarheim
foedselsdato    1934-08-23T01:00:00+02:00
fornavn                        Leif Frode
id                                    LFO
kjoenn                               mann
Name: 3721, dtype: object)
(3722, doedsdato       2012-07-06T00:00:00+02:00
etternavn                       Dominguez
foedselsdato    1936-07-14T01:00:00+02:00
fornavn                             Lidio
id                                    LID
kjoenn                               mann
Name: 3722, dtype: object)
(3723, doedsdato       2004-05-30T00:00:00+02:00
etternavn                            Lund
foedselsdato    1942-09-24T00:00:00+02:00
fornavn                              Leif
id                                    LLU
kjoenn                               mann
Name: 3723, dtype: object)
(3724, doedsdato       2008-10-23T00:00:00+02:00
etternavn                          Moland
foedselsdato    1948-01-15T00:00:00+01:00
fornavn                         Liv Marit
id                                    LMM
kjoenn                             kvinne
Name: 3724, dtype: object)
(3725, doedsdato       2003-06-27T00:00:00+02:00
etternavn                          Aarøen
foedselsdato    1944-04-28T00:00:00+02:00
fornavn                             Magne
id                                   MAGA
kjoenn                               mann
Name: 3725, dtype: object)
(3726, doedsdato       2021-01-28T00:00:00+01:00
etternavn                           Aukan
foedselsdato    1948-02-24T00:00:00+01:00
fornavn                            Modulf
id                                   MODA
kjoenn                               mann
Name: 3726, dtype: object)
(3727, doedsdato       2007-06-22T00:00:00+02:00
etternavn                          Lødøen
foedselsdato    1958-04-16T01:00:00+02:00
fornavn                            Morten
id                                    MOL
kjoenn                               mann
Name: 3727, dtype: object)
(3728, doedsdato       2022-01-10T00:00:00+01:00
etternavn                           Røhne
foedselsdato    1949-04-20T01:00:00+02:00
fornavn                        Nils Amund
id                                    NAR
kjoenn                               mann
Name: 3728, dtype: object)
(3729, doedsdato       2021-08-17T00:00:00+02:00
etternavn                        Akselsen
foedselsdato    1965-08-28T00:00:00+02:00
fornavn                              Olav
id                                     OA
kjoenn                               mann
Name: 3729, dtype: object)
(3730, doedsdato       2008-02-16T00:00:00+01:00
etternavn                          Monsen
foedselsdato    1946-04-18T01:00:00+02:00
fornavn                          Per Erik
id                                    PEM
kjoenn                               mann
Name: 3730, dtype: object)
(3731, doedsdato       2007-12-03T00:00:00+01:00
etternavn                           Løvik
foedselsdato    1949-07-11T01:00:00+02:00
fornavn                            Petter
id                                   PETL
kjoenn                               mann
Name: 3731, dtype: object)
(3732, doedsdato       2014-02-10T00:00:00+01:00
etternavn                          Liseth
foedselsdato    1940-06-25T01:00:00+02:00
fornavn                       Paul Oddvar
id                                     PL
kjoenn                               mann
Name: 3732, dtype: object)
(3733, doedsdato       2020-03-16T00:00:00+01:00
etternavn                        Frøiland
foedselsdato    1945-09-15T00:00:00+02:00
fornavn                           Ranveig
id                                     RF
kjoenn                             kvinne
Name: 3733, dtype: object)
(3734, doedsdato       2021-09-04T00:00:00+02:00
etternavn                      Gerhardsen
foedselsdato    1946-06-13T01:00:00+02:00
fornavn                              Rune
id                                   RUGE
kjoenn                               mann
Name: 3734, dtype: object)
(3735, doedsdato       2018-08-10T00:00:00+02:00
etternavn                           Berge
foedselsdato    1935-12-18T00:00:00+01:00
fornavn                           Steinar
id                                    SBE
kjoenn                               mann
Name: 3735, dtype: object)
(3736, doedsdato       2012-02-11T00:00:00+01:00
etternavn                          Bjerke
foedselsdato    1958-06-19T01:00:00+02:00
fornavn                              Siri
id                                    SIB
kjoenn                             kvinne
Name: 3736, dtype: object)
(3737, doedsdato       2002-01-18T00:00:00+01:00
etternavn                           Ulset
foedselsdato    1972-03-21T00:00:00+01:00
fornavn                             Yngve
id                                     YU
kjoenn                               mann
Name: 3737, dtype: object)
(4290, doedsdato       2000-11-04T00:00:00+01:00
etternavn                           Dørum
foedselsdato    1939-10-03T01:00:00+02:00
fornavn                         Anneliese
id                                     AD
kjoenn                             kvinne
Name: 4290, dtype: object)
(4291, doedsdato       2001-09-24T00:00:00+02:00
etternavn                         Molland
foedselsdato    1963-01-30T00:00:00+01:00
fornavn                     Anniken Kavli
id                                    AKM
kjoenn                             kvinne

In [73]:
df.loc[df['id'] == 'ASHI']

,doedsdato,etternavn,foedselsdato,fornavn,id,kjoenn
1265,2020-04-02T00:00:00+02:00,Heiberg,1936-04-14T03:00:00+02:00,Astrid Nøklebye,ASHI,kvinne
1869,2020-04-02T00:00:00+02:00,Heiberg,1936-04-14T03:00:00+02:00,Astrid Nøklebye,ASHI,kvinne

In [75]:
df[df.duplicated()]

,doedsdato,etternavn,foedselsdato,fornavn,id,kjoenn
642,None,Aasen-Svensrud,1980-02-22T00:00:00+01:00,Maria,AASE,kvinne
646,None,Aukrust,1985-02-28T00:00:00+01:00,Åsmund,AAUK,mann
647,None,Kroglund,1972-07-05T02:00:00+02:00,Abel Cecilie Knibe,ABCH,kvinne
648,None,Raja,1975-11-05T01:00:00+01:00,Abid,ABIR,mann
651,None,Elseth,1973-07-30T01:00:00+02:00,Anette Carnarius,AE,kvinne
...,...,...,...,...,...,...
4341,2008-02-16T00:00:00+01:00,Monsen,1946-04-18T01:00:00+02:00,Per Erik,PEM,mann
4342,2007-12-03T00:00:00+01:00,Løvik,1949-07-11T01:00:00+02:00,Petter,PETL,mann
4343,2014-02-10T00:00:00+01:00,Liseth,1940-06-25T01:00:00+02:00,Paul Oddvar,PL,mann
4344,2020-03-16T00:00:00+01:00,Frøiland,1945-09-15T00:00:00+02:00,Ranveig,RF,kvinne
4347,2012-02-11T00:00:00+01:00,Bjerke,1958-06-19T01:00:00+02:00,Siri,SIB,kvinne

In [ ]:
mp = E.person
persName = E.persName
forename = E.forename
surname = E.surname
sex = E.sex
birth = E.birth

mp_xml = mp( 
    persName(
        forename(record.loc['fornavn']),
        surname(record.loc['etternavn'])
    ),
    sex(value=assign_gender(record.loc['kjoenn'])),
    birth(record.loc['foedselsdato']),
    id=record.loc['id']
)

# Check for death
if record.doedsdato:
    death_date, _ = record.doedsdato.split('T')
    DEATH = E.death
    DEATH.attrib['when'] = death_date
    
    
    
# Append mp period affiliation    
for x in mp_affiliations(mp_xml.attrib['id'], engine):
    mp_xml.append(x)

# Append mp period
for x in party_affiliation(mp_xml.attrib['id'], engine):
    mp_xml.append(x)

In [62]:
# Generate speaker xml
ministers = pd.read_sql('ministers', engine, index_col='index').reset_index(drop=True)
ministers.drop(['min', 'person'], axis=1, inplace=True)
ministers

,start,end,født,stid,minlabel,personlabel,genderlabel,død
0,1997-10-17T00:00:00Z,2000-03-17T00:00:00Z,1962-05-04T00:00:00Z,MAA,Norges olje- og energiminister,Marit Arnstad,kvinne,None
1,1997-10-17T00:00:00Z,1999-03-15T00:00:00Z,1947-01-20T00:00:00Z,DJF,Norges forsvarsminister,Dag Jostein Fjærvoll,mann,2021-02-05T00:00:00Z
2,1997-10-17T00:00:00Z,1999-03-16T00:00:00Z,1939-04-04T00:00:00Z,RQH,Norges kommunal- og regionalminister,Ragnhild Queseth Haarstad,kvinne,2017-06-06T00:00:00Z
3,1997-10-17T00:00:00Z,2000-03-17T00:00:00Z,1964-01-26T00:00:00Z,GFJ,Norges miljøvernminister,Guro Fjellanger,kvinne,2019-04-15T00:00:00Z
4,1997-10-17T00:00:00Z,2000-03-17T00:00:00Z,1963-08-29T00:00:00Z,HFJ,Norges utviklingsminister,Hilde Frafjord Johnson,kvinne,None
...,...,...,...,...,...,...,...,...
211,2022-03-04T00:00:00Z,2022-03-07T00:00:00Z,1966-05-28T00:00:00Z,BJRSKJ,Norges arbeidsminister,Bjørnar Skjæran,mann,None
212,2022-03-07T00:00:00Z,None,1965-02-15T00:00:00Z,TELA,Norges olje- og energiminister,Terje Aasland,mann,None
213,2022-03-07T00:00:00Z,None,1975-04-24T00:00:00Z,MARPER,Norges arbeidsminister,Marte Mjøs Persen,kvinne,None
214,2022-04-12T00:00:00Z,None,1974-03-30T00:00:00Z,SIGJE,Norges kommunal- og regionalminister,Sigbjørn Gjelsvik,mann,None
215,2022-04-12T00:00:00Z,None,1972-05-07T00:00:00Z,BJAG,Norges forsvarsminister,Bjørn Arild Gram,mann,None

TODO:
Delete duplicates from mp list
add death date
add minstermps

create loop for only ministers 

investigate other speakers

add all speakers
syntactic words
submit sample!!!!

In [50]:
df.id.drop_duplicates()

0         AASE
1       AASMHO
2         AAUK
3         ABCH
4         ABIR
         ...
4348        SN
4349       TBR
4350      THHO
4351        TK
4352       TKV
Name: id, Length: 2809, dtype: object

In [51]:
ministers.stid.drop_duplicates()

0         MAA
1         DJF
2         RQH
3         GFJ
4         HFJ
        ...
206    BJRSKJ
208      TONB
210    JANVES
212      TELA
214     SIGJE
Name: stid, Length: 142, dtype: object

In [55]:
mp_ids = set(df.id.drop_duplicates())
minister_ids = set(ministers.stid.drop_duplicates())

In [59]:
ministermps = minister_ids & mp_ids

if

In [56]:
minister_ids - mp_ids

{'AKSY',
 'ANHG',
 'ANNTVI',
 'AUAU',
 'DJF',
 'EH',
 'EL',
 'GFJ',
 'GI',
 'GREF',
 'HABS',
 'HAHM',
 'HBJ',
 'IDARSE',
 'JANVES',
 'JKAL',
 'KRCL',
 'KVO',
 'K_AGJ',
 'MOMY',
 'MRO',
 'ODIN',
 'OGRE',
 'PAN',
 'RQH',
 'SJ',
 'TISU',
 'TMG',
 'TOAS',
 'TOSO',
 'TOTO',
 'TOWA',
 'TRJ',
 'TWI',
 'VIHE',
 'VN'}