In [30]:
import datetime
from datetime import date, datetime, timedelta
import pandas as pd

In [1]:
# generate parliamentary sessions

year1 = 1998

In [10]:
t = date(1998, 10, 1)

In [9]:
d = timedelta(365)

In [12]:
t + d

datetime.date(1999, 10, 1)

In [19]:
t.replace(year = 2003)

datetime.date(2003, 10, 1)

In [27]:
def add_year(d):
    return d.replace(year = d.year + 1)

In [43]:
y1 = date(1998, 10, 1)
y2 = date(1999, 9, 30)
n = 23

start = list()
end = list()
id = list()

for x in range(n):
    start += [y1]
    end += [y2]
    id +=[f"{y1.year}-{y2.year}"]
    
    y1 = add_year(y1)
    y2 = add_year(y2)
    
df = pd.DataFrame([id, start, end]).transpose().set_axis(['session_id', 'start_date', 'end_date'], axis=1)
df

   session_id  start_date    end_date
0   1998-1999  1998-10-01  1999-09-30
1   1999-2000  1999-10-01  2000-09-30
2   2000-2001  2000-10-01  2001-09-30
3   2001-2002  2001-10-01  2002-09-30
4   2002-2003  2002-10-01  2003-09-30
5   2003-2004  2003-10-01  2004-09-30
6   2004-2005  2004-10-01  2005-09-30
7   2005-2006  2005-10-01  2006-09-30
8   2006-2007  2006-10-01  2007-09-30
9   2007-2008  2007-10-01  2008-09-30
10  2008-2009  2008-10-01  2009-09-30
11  2009-2010  2009-10-01  2010-09-30
12  2010-2011  2010-10-01  2011-09-30
13  2011-2012  2011-10-01  2012-09-30
14  2012-2013  2012-10-01  2013-09-30
15  2013-2014  2013-10-01  2014-09-30
16  2014-2015  2014-10-01  2015-09-30
17  2015-2016  2015-10-01  2016-09-30
18  2016-2017  2016-10-01  2017-09-30
19  2017-2018  2017-10-01  2018-09-30
20  2018-2019  2018-10-01  2019-09-30
21  2019-2020  2019-10-01  2020-09-30
22  2020-2021  2020-10-01  2021-09-30